<a href="https://colab.research.google.com/github/ttgghh/Github-Colab/blob/main/data/01_warmup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install Lib

In [ ]:
!pip install black[jupyter]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting black[jupyter]
  Downloading black-23.3.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 18.1 MB/s eta 0:00:00
Collecting mypy-extensions>=0.4.3
  Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: tomli>=1.1.0 in /usr/local/lib/python3.9/dist-packages (from black[jupyter]) (2.0.1)
Requirement already satisfied: click>=8.0.0 in /usr/local/lib/python3.9/dist-packages (from black[jupyter]) (8.1.3)
Collecting pathspec>=0.9.0
  Downloading pathspec-0.11.1-py3-none-any.whl (29 kB)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /usr/local/lib/python3.9/dist-packages (from black[jupyter]) (4.5.0)
Requirement already satisfied: packaging>=22.0 in /usr/local/lib/python3.9/dist-packages (from black[jupyter]) (23.0)
Requirement already satisfied: platformdirs>=2 in /usr/local/lib/python3.9/dist-packages (from black[jupyter]) (3.2.0)
Collecting tokenize-rt>=3.2.0
  Downloading tokenize_rt-5.0.0-py2.py3-none-any.whl (5.8 kB)
Requirement already satisfied: ipython>=7.8.0 in /usr/local/lib/python3.9/dist-packages (from black[jupyter]) (7.34.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.9/dist-packages (from ipython>=7.8.0->black[jupyter]) (5.7.1)
Collecting jedi>=0.16
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 53.5 MB/s eta 0:00:00
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from ipython>=7.8.0->black[jupyter]) (3.0.38)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.9/dist-packages (from ipython>=7.8.0->black[jupyter]) (67.6.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.9/dist-packages (from ipython>=7.8.0->black[jupyter]) (4.8.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.9/dist-packages (from ipython>=7.8.0->black[jupyter]) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.9/dist-packages (from ipython>=7.8.0->black[jupyter]) (0.1.6)
Requirement already satisfied: decorator in /usr/local/lib/python3.9/dist-packages (from ipython>=7.8.0->black[jupyter]) (4.4.2)
Requirement already satisfied: pygments in /usr/local/lib/python3.9/dist-packages (from ipython>=7.8.0->black[jupyter]) (2.14.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.9/dist-packages (from ipython>=7.8.0->black[jupyter]) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.9/dist-packages (from jedi>=0.16->ipython>=7.8.0->black[jupyter]) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.9/dist-packages (from pexpect>4.3->ipython>=7.8.0->black[jupyter]) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.9/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.8.0->black[jupyter]) (0.2.6)
Installing collected packages: tokenize-rt, pathspec, mypy-extensions, jedi, black
Successfully installed black-23.3.0 jedi-0.18.2 mypy-extensions-1.0.0 pathspec-0.11.1 tokenize-rt-5.0.0

In [ ]:
# !black /content/drive/MyDrive/personalized_fashion_recs/01_warmup.ipynb

# Import Lib

In [ ]:
%%time

import pandas as pd

CPU times: user 277 ms, sys: 36.8 ms, total: 314 ms
Wall time: 314 ms

# Read data

In [ ]:
path = "/content/drive/MyDrive/data/raw/"

In [ ]:
transactions = pd.read_csv(path + "transactions_train.csv", dtype={'article_id':"str"})

In [ ]:
customers = pd.read_csv(path + 'customers.csv')

In [ ]:
articles = pd.read_csv(path + 'articles.csv', dtype={'article_id':'str'})

In [ ]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31788324 entries, 0 to 31788323
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             object
 1   customer_id       object
 2   article_id        object
 3   price             float64
 4   sales_channel_id  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.2+ GB

# Help Function

In [ ]:
def hex_id_to_int(str):
  return int(str[-16:], 16)

def customer_hex_id_to_int(series):
  return series.str[-16:].apply(hex_id_to_int)

In [ ]:
def article_id_str_to_int(series):
  return series.astype('int32')

def article_id_int_to_str(series):
  return '0' + series.astype(str)

# Transform Data

### transactions

In [ ]:
transactions['customer_id'].nunique()

1362281

In [ ]:
transactions['customer_id'] = customer_hex_id_to_int(transactions['customer_id'])

In [ ]:
transactions['customer_id'].nunique()

1362281

In [ ]:
transactions['t_dat'] = pd.to_datetime(transactions['t_dat'])

In [ ]:
transactions['week'] = 104 - (transactions['t_dat'].max() - transactions['t_dat']).dt.days // 7
# transactions['week'] = (transactions['t_dat'] - transactions['t_dat'].min()).dt.days // 7

In [ ]:
transactions['article_id'] = article_id_str_to_int(transactions['article_id'])
transactions['week'] = transactions['week'].astype('int8')
transactions['sales_channel_id'] = transactions['sales_channel_id'].astype('int8')
transactions['price'] = transactions['price'].astype('float32')

In [ ]:
transactions

,t_dat,customer_id,article_id,price,sales_channel_id,week
0,2018-09-20,18439897732908966680,663713001,0.050831,2,0
1,2018-09-20,18439897732908966680,541518023,0.030492,2,0
2,2018-09-20,10112112306570742978,505221004,0.015237,2,0
3,2018-09-20,10112112306570742978,685687003,0.016932,2,0
4,2018-09-20,10112112306570742978,685687004,0.016932,2,0
...,...,...,...,...,...,...
31788319,2020-09-22,4685485978980270934,929511001,0.059305,2,104
31788320,2020-09-22,4685485978980270934,891322004,0.042356,2,104
31788321,2020-09-22,3959348689921271969,918325001,0.043203,1,104
31788322,2020-09-22,9807404028332039951,833459002,0.006763,1,104
31788323,2020-09-22,3235222691137941515,898573003,0.033881,2,104

In [ ]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31788324 entries, 0 to 31788323
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             datetime64[ns]
 1   customer_id       uint64
 2   article_id        int32
 3   price             float32
 4   sales_channel_id  int8
 5   week              int8
dtypes: datetime64[ns](1), float32(1), int32(1), int8(2), uint64(1)
memory usage: 788.2 MB

In [ ]:
transactions.drop(columns='t_dat')

                   customer_id  article_id     price  sales_channel_id  week
0         18439897732908966680   663713001  0.050831                 2     0
1         18439897732908966680   541518023  0.030492                 2     0
2         10112112306570742978   505221004  0.015237                 2     0
3         10112112306570742978   685687003  0.016932                 2     0
4         10112112306570742978   685687004  0.016932                 2     0
...                        ...         ...       ...               ...   ...
31788319   4685485978980270934   929511001  0.059305                 2   104
31788320   4685485978980270934   891322004  0.042356                 2   104
31788321   3959348689921271969   918325001  0.043203                 1   104
31788322   9807404028332039951   833459002  0.006763                 1   104
31788323   3235222691137941515   898573003  0.033881                 2   104

[31788324 rows x 5 columns]

In [ ]:
transactions

,t_dat,customer_id,article_id,price,sales_channel_id,week
0,2018-09-20,18439897732908966680,663713001,0.050831,2,0
1,2018-09-20,18439897732908966680,541518023,0.030492,2,0
2,2018-09-20,10112112306570742978,505221004,0.015237,2,0
3,2018-09-20,10112112306570742978,685687003,0.016932,2,0
4,2018-09-20,10112112306570742978,685687004,0.016932,2,0
...,...,...,...,...,...,...
31788319,2020-09-22,4685485978980270934,929511001,0.059305,2,104
31788320,2020-09-22,4685485978980270934,891322004,0.042356,2,104
31788321,2020-09-22,3959348689921271969,918325001,0.043203,1,104
31788322,2020-09-22,9807404028332039951,833459002,0.006763,1,104
31788323,2020-09-22,3235222691137941515,898573003,0.033881,2,104

## customers